<main data-ui-component="Spacialists" data-page="specialists" class="js-main">

  <section class="c-hero c-hero--small" data-ui-component="Page Hero">

    <div class="o-wrapper c-hero__wrapper">

      <div class="c-hero__content">
        <h1 class="c-hero__title">
          Nasi specialiści
        </h1>
      </div>

    </div>

  </section>

  <div class="c-panel">

    <div class="o-wrapper o-wrapper--flush">


      <section class="o-flex o-flex--wrap o-flex--justify-content-around">

        {{#each specialists}}
          <article class="
            c-card
            o-flex__child
            o-box o-box--small 
            u-margin-top-minus-xlarge u-margin-bottom-huge u-margin-horizontal-small
            u-z-index-1
            ">
            
            <div class="o-block o-block--left">

              <div class="o-block__img o-crop o-crop--1:1">
                <img
                  class="o-crop__content o-crop__content--center o-crop__content--fill"
                  src="{{image}}"
                  alt="{{firstName}} {{lastName}}">
              </div>

              <div class="o-block__body">
                <h2 class="c-card__title u-text-weight-regular">{{firstName}} {{lastName}}</h2>
                <h3 class="c-card__subtitle">
                  {{#each specializations}}
                    {{this}}{{#unless @last}}, {{/unless}}
                  {{/each}}
                </h3>
                <p class="c-card__content">{{{[helpers/cutContent] aboutSummary}}}</p>
                <a href="#modal-{{@index}}" data-modal-open>+ więcej</a>
                <div id="modal-{{@index}}" style="display:none">
                  <div class="o-layout__item u-1/1 u-1/2@tablet">
                    <div class="o-crop o-crop--1:1 c-modal__img">
                      <img
                        class="o-crop__content o-crop__content--center o-crop__content--fill"
                        src="{{image}}"
                        alt="{{firstName}} {{lastName}}"
                      >
                    </div>
                  </div>

                  <div class="o-layout__item u-1/1 u-1/2@tablet">
                    <div class="o-box o-box--small">
                      <h2
                        class="u-h3 u-margin-bottom-tiny u-text-weight-regular">{{firstName}} {{lastName}}</h2>
                      <h3 class="u-h4 u-text-weight-light">
                        {{#each specializations}}
                          {{this}}{{#unless @last}}, {{/unless}}
                        {{/each}}
                      </h3>
                    </div>
                  </div>
                  <div class="o-layout__item u-1/1">
                    <div class="o-box o-box--small o-box--normal@tablet">
                      <p class="c-modal__body">{{{aboutSummary}}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </article>
        {{/each}}
        <div class="c-modal c-modal@tablet js-modal">

          <div class="c-modal__container">
            <span class="c-modal__close-btn
                         o-flex o-flex--align-items-center o-flex--justify-content-center"
                  data-modal-close>
              ×
            </span>
            <div class="c-modal__inner js-modal__inner">
              <div class="c-modal__content js-modal__content o-layout o-layout--bottom"></div>
            </div>
          </div>
        </div>

      </section>


    </div>

  </div>



</main>