<main data-ui-component="Spacialists">

  <div class="c-panel u-margin-top-huge u-text-center">

    <div class="o-wrapper">
      <h1 class="u-margin-bottom-none">Nasi specjaliści</h1>
    </div>

  </div>

  <div class="c-panel">

    <div class="o-wrapper o-wrapper--flush">


      <section class="o-flex o-flex--wrap o-flex--justify-content-around">

        {{#each specialists}}
          <article class="o-flex__child o-box o-box--small o-box--normal@tablet c-card u-margin-bottom-large u-margin-horizontal-small">

            <div class="o-block o-block--left">

              <div class="o-block__img o-crop o-crop--4:3">
                <img
                  class="o-crop__content o-crop__content--center o-crop__content--fill"
                  src="{{image}}"
                  alt="{{firstName}} {{lastName}}">
              </div>

              <div class="o-block__body">
                <h2 class="c-card__title">{{firstName}} {{lastName}}</h2>
                <h3 class="c-card__subtitle">
                  {{#each specializations}}
                    {{this}}{{#unless @last}}, {{/unless}}

                  {{/each}}
                </h3>
                <p class="c-card__content">{{aboutSummary}}</p>
              </div>

            </div>

          </article>
        {{/each}}

      </section>


    </div>

  </div>



</main>