<main data-ui-component="Spacialists" data-page="specialists" class="js-main">

  <section class="c-hero c-hero--small" data-ui-component="Page Hero">

    <div class="o-wrapper c-hero__wrapper">

      <div class="c-hero__content">
        <h1 class="c-hero__title">
          Nasi specialiści
        </h1>
      </div>

    </div>

  </section>

  <div class="c-panel">

    <div class="o-wrapper o-wrapper--flush">


      <section class="o-flex o-flex--wrap o-flex--justify-content-around">

        {{#each specialists}}
          <article class="
            c-card
            o-flex__child
            o-box o-box--small 
            u-margin-top-minus-xlarge u-margin-bottom-huge u-margin-horizontal-small
            u-z-index-1
            ">
            
            <div class="o-block o-block--left">

              <div class="o-block__img o-crop o-crop--4:3">
                <img
                  class="o-crop__content o-crop__content--center o-crop__content--fill"
                  src="{{image}}"
                  alt="{{firstName}} {{lastName}}">
              </div>

              <div class="o-block__body">
                <h2 class="c-card__title">{{firstName}} {{lastName}}</h2>
                <h3 class="c-card__subtitle">
                  {{#each specializations}}
                    {{this}}{{#unless @last}}, {{/unless}}

                  {{/each}}
                </h3>
                <p class="c-card__content">{{aboutSummary}}</p>
              </div>

            </div>

          </article>
        {{/each}}

      </section>


    </div>

  </div>



</main>